.sentence {
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.sentenceActive {
    background-color: lightpink;
}

.imgSentence {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
}