<div class="container">
    <div class="row py-3">
        <div class="col col-lg-6">
            <button type="button" class="btn btn-block bg-light mb-2" (click)="prev()">Anterior</button>
        </div>
        <div class="col col-lg-6">
            <button type="button" class="btn btn-block bg-light" (click)="next()">Següent</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p *ngFor="let sentence of story; let i = index" [class]="sentenceStyle" [ngClass]="{sentenceActive: i === currentSentence}">{{sentence.text}}</p>
        </div>
    </div>
</div>